<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/css/bootstrap.min.css"
      integrity="sha512-aqT9YD5gLuLBr6ipQAS+72o5yHKzgZbGxEh6iY8lW/r6gG14e2kBTAJb8XrxzZrMOgSmDqtLaF76T0Z6YY2IHg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/v/bs4/dt-1.13.1/datatables.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <!-- <a href="#" class="navbar-brand">Brand</a> -->
        <button
          type="button"
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse1"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse1">
          <div class="navbar-nav">
            <a href="/" class="nav-item nav-link"
              ><i class="fas fa-house me-1"></i>Home</a
            >
            <a href="/add" class="nav-item nav-link"
              ><i class="fas fa-user-plus me-1"></i>Add User</a
            >
            <a href="#" class="nav-item nav-link"
              ><i class="fas fa-globe me-1"></i>About</a
            >
            <a href="#" class="nav-item nav-link"
              ><i class="fas fa-envelope me-1"></i>Contact</a
            >
          </div>
          <form class="d-flex ms-auto">
            <input
              type="text"
              class="form-control me-sm-2"
              placeholder="Search"
            />
            <button type="submit" class="btn btn-outline-light">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </body>
</html>
